.kbc-dst-table-selector {
    display: flex;
    flex-wrap: wrap;
}

.kbc-dst-table-selector .kbc-select-stage {
    flex-grow: 0;
    flex-basis: 4.5em;
}

.kbc-dst-table-selector .kbc-dot-separator {
    flex-grow: 0;
    padding: 0 0.6em;
    line-height: 36px;
}

.kbc-dst-table-selector .kbc-select {
    flex-grow: 2;
}

.kbc-dst-table-selector .kbc-select-table {
    flex-grow: 3;
}
