.modal-footer .btn-toolbar > a .btn {
  float: none;
}

.badge{
  &-component-container{
    position: absolute;
    right: 12px ;
    top: 12px;
  }
  &-component-item{
    margin-left: 3px;
  }
}

.kbc-components-overview .td{
  position: relative;

}