.storage-table-columns-editor {
  .column-name {
    font-weight: 400;
  }
  td {
    .control-label {
      font-size: 100%;
      padding-top: 7px;
    }
    .form-group {
      margin-bottom: 5px;
      padding-left: 0px;
    }
    .form-control {
      height: 34px;
      padding: 6px 12px;
    }
  }
}
